/*PREAJUSTES CSS / HOJA DE ESTILO*/

/*Este *{} selector universal se aplica a todos y cada uno de los elementos del archivo html.
Aplicación de dimensiones de elementos
m0 p0 para eliminar margen y relleno predeterminado de cada elemento html.*/
/*La box-sizing propiedad nos permite incluir el relleno y el borde en el ancho y alto total de un elemento.
Si establece box-sizing: border-box;en un elemento, el relleno y el borde se incluyen en el ancho y el alto
Border-box le dice al navegador que tenga en cuenta cualquier borde y relleno en los valores que especifique para el ancho y alto de un elemento.
Incluirán cualquier borde o relleno que haya agregado, el cuadro de contenido se encogerá para absorber ese ancho adicional,
medidas se mantendrá así sin importar el relleno, margen o borde que agregue.
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*Ajustes de estilo en Textos*/
/*Tipografía Trutype .TFF o OpenType .OTF a aplicar llamando a la hoja de estilos vinculando los parrafos y a la ruta*/
/*Font-face fuente personalizada font-family: MiFuentePersonal, sans-serif;*/
@font-face {
    font-family: 'Open Sans' !important;
    /*Antes de descargar el archivo, le decimos al buscador que intente buscar en local la fuente con ese nombre*/
    src: 
    local('Open Sans'),
    url("../font/OpenSans-VariableFont_wdth,wght.ttf") format('truetype');
    /*propiedades*/
    font-style: normal;
    font-weight: 400;
    }
/*Fuentes con aspecto similar, alternativa estándar, para aplicar a todo el html*/
html {
	font-family: 'Open Sans', Nunito, Verdana, Arial, Helvetica, sans-serif;
	/*Otras comunes Geneva, Trebuchet, Tahoma, Futura, Calibri, Candara, Optima,*/
	font-size: 16px;
	/*Responsive para pantallas móviles es 16-18 pixeles. 16px en Unidad Relativa: 1rem (base)*/
	/*font-size: normal;*/
	text-decoration: none;
}


body{
    /* max-width: 1024px ; */
    margin: 0 auto;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
}


/* HEADER */
.portadaHeroBanner {
    background-image: url('img/header.jpg');
    background-size: cover;
    background-position: center;
    height: 300px;
    text-align: left;
    font-size:20px;
    color: white;
    padding-top: 100px;
}

.txtheroImage {
padding-left: 5%;
}

nav{
    background-color: rgba(44, 10, 87, 0.684);
}
ul{
    list-style-type: none;
    margin:0px;
    padding: 5px;
}

li{
    display: inline-block;
}

.menu{
    display:flex;
    color: white;
    text-decoration: none;
    padding: 5px;
    text-align: justify;
}

.menu:hover{
    background-color:white ;
    color: rgba(44, 10, 87, 0.684);
}



.seccion-1 {
    text-align: center;
    padding-top: 20px;
    margin: 0;
    
}
.columnas {
    display: flex;

}
.columnas div {
    flex: 50%;
}

.columna-1{
    margin-right: 20px;
}

.columna-1 img {
    float: left;
}

.columna-1 div {
    text-align: justify;
   
}




.columna-2{
    margin-left: 20px;
    text-align: center;
}

.columna-2 p {
    text-align: justify;
  
}

.columna-2 h3 {
    text-align: left;
}





/* OUR SERVICES */

.seccion-2{
    text-align: center;
    padding-top: 30px;
    margin: 0;
}

.icons {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: solid;
    border-color: #c0c0c0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icons i {
    font-size: 26px;
    color: rgba(44, 10, 87, 0.684);
   padding: 20px;
  }

  .services_line{
    display: flex;
  }

  .icons{
    float: left;
    margin: 5px;
  }

  .box {
   display: flex;
   text-align: justify;
   margin: 10px;
  }



/* portfolio */
.seccion-3{
    text-align: center;
    padding-top: 20px;
    background-color: rgba(207, 214, 217, 0.385);
    margin: 0;
    padding-bottom: 80px;
}

.seccion-3 h2 , .seccion-3 p{
    margin-top: 15px;;
}

.seccion-3 p{
    margin-bottom: 20px;
}

.contenedor_imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    column-gap: 2px;
    row-gap: 10px;
    justify-content: center;
}



.seccion-3 img {
    width: 250px;
}



/* LOCATION */

#seccion-4 {
    text-align: center;
    padding-top: 40px;
}

.titulo-4 {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
}


.contenedor_location {
    
    display: flex;
    justify-content: center;

}



.map {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    
    margin-right: 25px;
    margin-bottom: 60px;

}

/* Footer */

.footer {
    background-color: rgba(44, 10, 87, 0.684);
    background-image: url("img/map-image.png");
    background-size: cover;
    
}

.formulario {

width: 400px;
border: rgba(44, 10, 87, 0.684);
margin: 0px auto;
margin-top: 10px;
padding: 20px;
color: white;
font-family: Arial, Helvetica, sans-serif;




}

.formulario h1{
    margin-bottom: 25px;
    text-align: center;
    
}

.etiquetas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caja {
    display: flex;
    margin: 3px 0px;
    
}

.caja label{
    flex-basis: 100px;
}
.caja input{
    flex: 1;
}

div input {
    border-radius: 5px;
    cursor: pointer;
    width: 90px;
    align-self: center;
    
}

.derechos_reservados {
    display: flex;
    color: aliceblue;
    background-color: rgb(112, 66, 155);
    display: flex;
    justify-content: flex-end;
}

.enlace_lasalle {
    color: aliceblue;
}